/* Page background */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f1d7;
}

/* Center the form container */
.form-container {
    width: 450px;
    margin: 60px auto;
    padding: 30px;
    background: #9c2f2f;
    color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

/* Inputs */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}
button {
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffdddd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: #9c2f2f;
}

button:hover {
    background-color: white;
    transform: scale(1.03);
}
